.navHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: rgba(31, 41, 55, 0.5);
  backdrop-filter: blur(12px);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
  border: 1px solid rgba(55, 65, 81, 0.5);
}

.navLeft,
.navRight {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navLink {
  color: rgb(209, 213, 219);
  position: relative;
  transition: all 0.2s;
}

.navLink:hover {
  color: white;
  transform: scale(1.05);
}

.navLink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(99, 102, 241);
  transition: all 0.2s;
}

.navLink:hover::after {
  width: 100%;
}

.signInButton {
  background-color: rgb(79, 70, 229);
  color: white;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s;
}

.signInButton:hover {
  background-color: rgb(99, 102, 241);
}
